<form class="container  shadow p-4 mb-4 mt-5  bg-muted rounded" style="width: 30%; ">
    <h3 class="text-center text-danger">Edit User</h3>
    <div class="form-group p-3">
      <label for="exampleInputEmail1">Name</label>
      <input type="Title" class="form-control" id="exampleInputTitle"  placeholder="Enter Name">
    </div>
    <div class="form-group p-3">
      <label for="exampleInputDescription">E-mail</label>
      <input type="mail" class="form-control" id="exampleInputDescription" placeholder="Enter Mail">
    </div>
    <div class="form-group p-3">
        <label for="exampleInputdatetime">phone Number</label>
        <input type="text" class="form-control" id="exampleInputMobile" placeholder="Enter mobile" >
      </div>


    <button type="submit" class="btn btn-primary p-2 m-2" >Submit</button>
    <button type="submit" class="btn btn-secondary p-2 m-2"  [routerLink]="['']" >Cancel</button>

  </form>
  